/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
figwheel_server.log
resources/public/js/out
resources/public/js/foreclojure*
resources/public/js/deps.js
resources/public/css/pure.css
node_modules/
